Resources/Textures/ic_add2.png
Resources/Textures/ic_delete2.png
Resources/Textures/ic_load2.png
Resources/Textures/MenuScreen.png
Resources/Fonts/Dhurjati.ttf